<div id="chat-container" class="container">

    <div id="message" ng-show="showMessage">
        <p>Chào các bạn.</p>
        <p>Tp.Hồ Chí Minh nóng quá Đình Trung đi du lịch đây. ✈✈✈</p>
        <p>Hẹn gặp lại các bạn.</p>
        <p><i>Đình Trung</i></p>
    </div>

    <div id="chat-dialog" ng-show="!showMessage">
        <p ng-repeat="s in sentences track by $index">
            <b>{{ s.agent }}:</b> {{ s.text }}
        </p>
    </div>
    <br/>
    <input class="form-control" id="chat-input"
           ng-model="userText"
           placeholder="{{ suggestion }}"
           my-enter="addTalk()"
           ng-show="!showMessage">
</div>
